//!  IMPORT
// Font - Shirkand
@import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

// Font - Roboto
@import "./utils/variables";
@import "./utils/mixins";

//!  STARTER PACK
// Détecter erreurs de conteneurs / Detect container errors
// *, ::before, ::after {
//     border: 1px solid;
// }

// Bordure à l'intérieur des éléments / Borders inside container
*, ::before, ::after {
    box-sizing: border-box;
}

// Img ne sortent pas de leur conteneur / Prevent img from overflowing container
img { 
    max-width: 100%;
    height: auto;
}

//! FONTS
// Font size 62.5% trick for rem = 1rem = 10px
html {
    font-size: 62.5%;
}
body {
    font-size: 1.4rem;
    font-family: "Roboto", sans-serif;
}
h2 {
    font-size: 2.5rem;
}

//! MARGINE NONE
body, h1, h2, p{
    margin: 0;
}

//! WIDTH
body {
    min-width: 320px;
}

//!  CODE
// Header
header {
    box-shadow: 0 0 .5rem rgba(0,0,0,.25);
    padding: 2.3rem;
    position: relative;
    h1 {
    font-family: 'Shrikhand', cursive;
    text-align: center;
    }  
}

// Section Location
.location {
    background-color: #f3f3f3; 
    color: darken($color: grey, $amount: 25);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    padding: 2rem;
    i {
        font-size: 1.7rem;
    }
    h2 {
        font-size: 1.7rem;
    }
}

// Section Intro
.intro {
    text-align: center;
    padding: 3rem 2rem 6rem 2rem;
    background-color: #fafafa;
    p {
        font-size: 1.6rem;
        font-weight: 300;
        color: darken($color: grey, $amount: 25);
        padding: 1.5rem 2rem 3rem 2rem;
    }
    button {
        font-size: 1.7rem;
        font-weight: 500;
        color: white;
        padding: 1.3rem 2.5rem;
        border-radius: 3rem;
        border: none;
        background-image: linear-gradient(to left top,$color-primary,$color-secondary);
        box-shadow: 0rem .4rem 1rem rgba(0,0,0,.25);
        &:hover {
            opacity: 0.9;
            transform: scale(1.03);
            transition-duration: .75s;
            cursor: pointer;
        }
    }
}