@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap");
@keyframes menu {
  0% {
    transform: translateY(30%);
    opacity: 0;
  }
  100% {
    transform: translateY(0%);
    opacity: 1;
  }
}
@keyframes loader {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  100% {
    transform: scale(0);
    opacity: 0;
  }
}
@keyframes bounce {
  100% {
    width: 2rem;
    height: 2rem;
  }
}
*, ::before, ::after {
  box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.4rem;
  font-family: "Roboto", sans-serif;
}

h2 {
  font-size: 2.5rem;
}

a {
  text-decoration: none;
  color: inherit;
}

ul, ol {
  list-style: none;
}

body, h1, h2, h3, h4, p, ol, ul {
  margin: 0;
  padding: 0;
}

body {
  min-width: 280px;
}

.container {
  max-width: 1280px;
  margin: auto;
  position: relative;
}

.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  background-color: #f3f3f3;
  opacity: 0.9;
  inset: 0;
  z-index: 1;
  animation: loader 0s 2s forwards;
}
.loader__dot {
  display: inline-block;
  background-color: #9356DC;
  width: 0rem;
  height: 0rem;
  border-radius: 50%;
  margin: 0 1rem;
  animation: bounce 0.6s infinite alternate;
}
.loader__dot:nth-child(2) {
  background-color: #FF79DA;
  animation-delay: 0.2s;
}
.loader__dot:nth-child(3) {
  background-color: #99E2D0;
  animation-delay: 0.4s;
}

.header {
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.25);
  padding: 2.3rem;
  position: relative;
}
.header__title {
  font-family: "Shrikhand", cursive;
  text-align: center;
}
.header--arrow {
  position: absolute;
  width: 2rem;
  height: 2rem;
  top: 50%;
  transform: translateY(-50%);
  font-size: 2.3rem;
}
.header:hover .header--arrow {
  color: #ae80e5;
}

.place {
  background-color: #ebebeb;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
  padding: 2rem;
  color: #343434;
}
.place__ico {
  font-size: 2rem;
}
.place__city {
  font-size: 2rem;
}

.explore {
  text-align: center;
  padding: 3rem 2rem 6rem 2rem;
  background-color: #f3f3f3;
}
.explore__subtitle {
  font-size: 1.7rem;
  font-weight: 300;
  padding: 1.5rem 0 3rem 0;
  color: #343434;
}
.explore__button {
  font-size: 1.7rem;
  padding: 1.3rem 2.5rem;
  font-weight: 500;
  background-image: linear-gradient(to left top, #9356DC, #FF79DA);
  color: white;
  border-radius: 3rem;
  border: none;
  box-shadow: 0rem 0.4rem 1rem rgba(0, 0, 0, 0.25);
  transition: all 0.5s ease-in-out;
}
.explore__button:hover {
  background-image: linear-gradient(to right bottom, #9356DC, #FF79DA);
  cursor: pointer;
  opacity: 0.85;
  box-shadow: 0.25rem 0.25rem 1rem rgba(0, 0, 0, 0.5);
  transform: scale(1.05);
}

.steps {
  padding: 5rem 2rem;
  counter-reset: numbers;
}
.steps__title {
  padding-left: 2rem;
}
.steps__list {
  padding: 3rem 0 1rem 1rem;
  list-style-type: none;
  display: grid;
  grid-gap: 2.3rem;
}
@media (min-width: 992px) {
  .steps__list {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.steps__element {
  position: relative;
  font-weight: 500;
  font-size: 1.7rem;
  background-color: #f3f3f3;
  padding: 2.5rem 1rem;
  border-radius: 2rem;
  box-shadow: 0rem 0.4rem 1rem rgba(0, 0, 0, 0.25);
  transition: all 0.5s ease-in-out;
}
.steps__element::before {
  position: absolute;
  bottom: 2.4rem;
  left: -1.2rem;
  width: 2.2rem;
  height: 2.2rem;
  border-radius: 2rem;
  font-weight: 500;
  font-size: 1.4rem;
  background-color: #9356DC;
  color: white;
  content: counter(numbers);
  counter-increment: numbers;
  display: grid;
  place-items: center;
}
.steps__element:hover {
  background-color: #f2eafb;
}
.steps__element:hover .steps__ico {
  color: #9356DC;
}

.steps__ico {
  padding: 0 2rem;
  color: grey;
  font-size: large;
}

.restaurants {
  background-color: #f3f3f3;
  padding: 5rem 2rem;
}
.restaurants__title {
  padding-left: 2rem;
}
.restaurants__list {
  padding: 3rem 0;
  display: grid;
  grid-gap: 3rem;
}
@media (min-width: 992px) {
  .restaurants__list {
    grid-template-columns: repeat(2, 1fr);
  }
}

.restaurants-card {
  position: relative;
  border-radius: 1.5rem;
  box-shadow: 0rem 0.4rem 1rem rgba(0, 0, 0, 0.25);
  transition: all 0.5s ease-in-out;
}
.restaurants-card:hover {
  transform: scale(1.05);
  box-shadow: 0.25rem 0.25rem 1rem rgba(0, 0, 0, 0.5);
  cursor: pointer;
}
.restaurants-card--new::before {
  position: absolute;
  right: 1.5rem;
  top: 1.5rem;
  padding: 1rem 1.5rem;
  border-radius: 0.3rem;
  content: "Nouveau";
  font-weight: 500;
  font-size: 1.8rem;
  background-color: #99E2D0;
  color: #1b6150;
}
.restaurants-card__img {
  object-fit: cover;
  height: 210px;
  width: 100%;
  border-radius: 1.5rem 1.5rem 0 0;
}
.restaurants-card__footer {
  position: relative;
  padding: 1.5rem 1.5rem;
  border-radius: 0rem 0rem 1.5rem 1.5rem;
}
.restaurants-card__title {
  font-size: 2rem;
}
.restaurants-card__txt {
  font-weight: 300;
  font-size: 1.8rem;
  padding-top: 0.5rem;
}

.restaurants-heart::before {
  position: absolute;
  right: 3rem;
  bottom: 4rem;
  transform: translateY(50%);
  content: "\f004";
  font: var(--fa-font-solid);
  font-size: 2.5rem;
  font-weight: 400;
  opacity: 1;
  transition: all 0.5s ease-in-out;
}
.restaurants-heart::after {
  position: absolute;
  right: 3rem;
  bottom: 4rem;
  transform: translateY(50%);
  content: "\f004";
  font: var(--fa-font-solid);
  font-size: 2.5rem;
  font-weight: 400;
  opacity: 1;
  transition: all 0.5s ease-in-out;
  background: linear-gradient(to left top, #9356DC, #FF79DA);
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  opacity: 0;
  font-weight: 900;
}
.restaurants-heart:hover::after {
  opacity: 1;
  cursor: pointer;
}

.heart {
  display: none;
}

.heart:checked + label::after {
  opacity: 1;
}

.footer {
  background-color: #353535;
  padding: 2.5rem 3rem;
  color: white;
  font-weight: 500;
}
.footer__title {
  font-family: "Shrikhand", cursive;
  font-weight: 500;
  font-size: 2rem;
}
.footer__title:hover {
  color: #ae80e5;
}
.footer__list {
  padding-top: 1rem;
}
.footer__element {
  padding: 0.5rem 0;
}
.footer__element:hover {
  color: #ae80e5;
}
.footer__element--ico {
  width: 2rem;
}

.card {
  background-color: #f3f3f3;
  margin-top: -6rem;
  padding: 2rem;
  border-radius: 4rem 4rem 0 0;
}
.card-img {
  display: block;
  width: 100%;
  max-height: 50rem;
  object-fit: cover;
}
.card-restaurant {
  font-family: "Shrikhand", cursive;
  padding: 2rem 1rem 4.5rem 1rem;
  position: relative;
  font-size: 2rem;
}
@media (min-width: 350px) {
  .card-restaurant {
    font-size: 2.5rem;
  }
}

.card-list {
  display: grid;
}
@media (min-width: 992px) {
  .card-list {
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1rem;
  }
}

.card-plat {
  overflow: hidden;
  padding: 0 1rem;
}
.card-plat__title {
  text-transform: uppercase;
  font-weight: 400;
  font-size: 1.8rem;
  padding-left: 1rem;
  position: relative;
}
.card-plat__title::after {
  position: absolute;
  content: "";
  background-color: #99e2d0;
  width: 4.5rem;
  height: 0.4rem;
  left: 1rem;
  bottom: -0.8rem;
}
.card-plat__menus {
  padding: 3rem 0;
  max-width: 100%;
}

.card-menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  line-height: 2.5rem;
  margin-bottom: 1.5rem;
  border-radius: 1.5rem;
  background-color: white;
  position: relative;
  box-shadow: 0.25rem 0.25rem 1rem rgba(0, 0, 0, 0.1);
  overflow: hidden;
}
.card-menu--anim1 {
  animation: menu 1.5s;
  animation-fill-mode: both;
  animation-delay: 300ms;
}
.card-menu--anim2 {
  animation: menu 1.5s;
  animation-fill-mode: both;
  animation-delay: 600ms;
}
.card-menu--anim3 {
  animation: menu 1.5s;
  animation-fill-mode: both;
  animation-delay: 900ms;
}
.card-menu--anim4 {
  animation: menu 1.5s;
  animation-fill-mode: both;
  animation-delay: 1200ms;
}
.card-menu--anim5 {
  animation: menu 1.5s;
  animation-fill-mode: both;
  animation-delay: 1500ms;
}
.card-menu--anim6 {
  animation: menu 1.5s;
  animation-fill-mode: both;
  animation-delay: 1800ms;
}
.card-menu--anim7 {
  animation: menu 1.5s;
  animation-fill-mode: both;
  animation-delay: 2100ms;
}
.card-menu--anim8 {
  animation: menu 1.5s;
  animation-fill-mode: both;
  animation-delay: 2400ms;
}
.card-menu--anim9 {
  animation: menu 1.5s;
  animation-fill-mode: both;
  animation-delay: 2700ms;
}
.card-menu--anim10 {
  animation: menu 1.5s;
  animation-fill-mode: both;
  animation-delay: 3000ms;
}
.card-menu:hover .card-menu__check {
  margin-right: 0;
}
.card-menu:hover .fa-circle-check {
  transform: rotate(0deg);
  transition: 0.6s;
}
.card-menu .fa-circle-check {
  transform: rotate(360deg);
}
.card-menu-left {
  padding: 1rem 0 1rem 1.5rem;
  overflow: hidden;
}
.card-menu__title {
  font-weight: 500;
  font-size: 1.8rem;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.card-menu__describe {
  font-weight: 300;
  font-size: 1.6rem;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.card-menu-right {
  display: flex;
}
.card-menu__price {
  display: flex;
  align-items: flex-end;
  font-weight: 500;
  font-size: 1.5rem;
  padding: 1rem 2rem 1rem 1rem;
}
.card-menu__check {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #99E2D0;
  font-size: 2.5rem;
  color: white;
  width: 7rem;
  height: 7rem;
  margin-right: -7rem;
  transition: all 0.5s ease-in-out;
}

.card-button {
  display: flex;
  justify-content: center;
  padding: 0.6rem 0 3rem 0;
}
.card-button__value {
  font-size: 2rem;
  padding: 1.5rem 5rem;
  font-weight: 500;
  background-image: linear-gradient(to left top, #9356DC, #FF79DA);
  color: white;
  border-radius: 3rem;
  border: none;
  box-shadow: 0rem 0.4rem 1rem rgba(0, 0, 0, 0.25);
  transition: all 0.5s ease-in-out;
}
.card-button__value:hover {
  background-image: linear-gradient(to right bottom, #9356DC, #FF79DA);
  cursor: pointer;
  opacity: 0.85;
  box-shadow: 0.25rem 0.25rem 1rem rgba(0, 0, 0, 0.5);
  transform: scale(1.05);
}

.card-restaurant__heart::before {
  position: absolute;
  right: 1rem;
  content: "\f004";
  font: var(--fa-font-solid);
  font-weight: 400;
  opacity: 1;
  transition: all 0.5s ease-in-out;
}
.card-restaurant__heart::after {
  position: absolute;
  right: 1rem;
  content: "\f004";
  font: var(--fa-font-solid);
  font-weight: 400;
  opacity: 1;
  transition: all 0.5s ease-in-out;
  background: linear-gradient(to left top, #9356DC, #FF79DA);
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  opacity: 0;
  font-weight: 900;
}
.card-restaurant__heart:hover::after {
  opacity: 1;
  transition-duration: 0.35s;
  cursor: pointer;
}

.heart {
  display: none;
}

.heart:checked + label::after {
  opacity: 1;
}

/*# sourceMappingURL=main.css.map */
