//! MIXINS
@mixin media-breakpoint-up($size) {
    @media (min-width: map_get($breakpoints, $size)) {
      @content;
    }
}
@mixin button-shadow {
  box-shadow: 0rem .4rem 1rem rgba(0,0,0,.25);
}

@mixin button-effect {
  transform: scale(1.03);
  transition-duration: .50s;
}