/** vous rangez vos variables, fonctions, mixins et les  %placeholders 
pour les extensions (si vous en utilisez) **/

$color-primary: #9356DC;
$color-secondary: #FF79DA;
$color-thirdly: #99E2D0;

$breakpoints: (
    sm: 576px,
    md: 768px,
    lg: 992px,
    xl: 1200px
);