//! VARIABLES
// Colors
$color-primary: #9356DC;
$color-secondary: #FF79DA;
$color-thirdly: #99E2D0;
$color-gray1: #ebebeb; //#f3f3f3
$color-gray2: #f3f3f3; //#fafafa

// Breakpoints
$breakpoints: (
    sm: 576px,
    md: 768px,
    lg: 992px,
    xl: 1200px
);