//! PLACE
.place {
    background-color: $color-gray1; 
    @include flex;
    gap: 1.5rem;
    padding: 2rem;
    @include dark-grey;

    // ICO
    &__ico {
        font-size: 2rem;
    }

    // H2
    &__city {
        font-size: 2rem;
    }
}