//! PLACE
.place {
    background-color: $color-gray1; 
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    padding: 2rem;
    color: darken($color: grey, $amount: 30);

    // ICO
    &__ico {
        font-size: 2rem;
    }

    // H2
    &__city {
        font-size: 2rem;
    }
}