//! INTRO
.explore {
    text-align: center;
    padding: 3rem 2rem 6rem 2rem;
    background-color: $color-gray2;

    // P
    &__subtitle {
        font-size: 1.7rem;
        font-weight: 300;
        padding: 1.5rem 0 3rem 0;
        @include dark-grey;
    }

    // INPUT
    &__button {
        font-size: 1.7rem;
        padding: 1.3rem 2.5rem;
        @include btn-grad;

        &:hover {
            @include btn-grad-hov
        }
    }
}