//! INTRO
.intro {
    text-align: center;
    padding: 3rem 2rem 6rem 2rem;
    background-color: $color-gray2;
    p {
        font-size: 1.6rem;
        font-weight: 300;
        color: darken($color: grey, $amount: 35);
        padding: 1.5rem 2rem 3rem 2rem;
    }
    button {
        font-size: 1.7rem;
        font-weight: 500;
        color: rgb(245, 243, 243);
        padding: 1.3rem 2.5rem;
        border-radius: 3rem;
        border: none;
        background-image: linear-gradient(to left top,$color-primary,$color-secondary);
        @include button-shadow;
            &:hover {
            @include button-effect;
            cursor: pointer;
            background-image: linear-gradient(to right bottom, $color-primary,$color-secondary);
            color: white;
        }
    }
}