//! SEARCH
.search {
    padding: 5rem 2rem;
    counter-reset: numbers;
    h2 {
        padding-left: 2rem;
    }  
    ol {
        padding: 3rem 0 1rem 1rem;
        list-style-type: none;
        display: grid;
        grid-gap: 2.3rem;
        @media (min-width:900px) {
            grid-template-columns: 1fr 1fr 1fr;
        } 
        li {
            position: relative;
            font-weight: 500;
            font-size: 1.7rem;
            background-color: $color-gray2;
            padding: 2.5rem 1rem;
            border-radius: 2rem;
            @include button-shadow;
            &::before{
                content: counter(numbers);
                counter-increment: numbers;
                background-color: $color-primary;
                color: white;
                border-radius: 30px;
                height: 2.2rem;
                width: 2.2rem;
                display: grid;
                place-items: center;
                position: absolute;
                bottom: 2.4rem;
                left: -1.2rem;
                font-weight: 500;
                font-size: small;
            }        
            &:hover {
                background-color: #f4ecfd;
                i {
                    color: $color-primary;
                }
            }
            i {
                margin: 0 2rem 0 2rem;
                color: darken($color: grey, $amount: 0);
                font-size: large;
            }
        }
    }
}