//! CARDS
.restaurants {
    background-color: $color-gray2;
    padding: 5rem 2rem;
    &__title {
        padding-left: 2rem;
    }
    &__list {
        padding: 3rem 0;
        display: grid;
        grid-gap: 2rem;
        @include media-breakpoint-up (lg) {
            grid-template-columns: repeat(2,1fr);            
        }
    }
    &-card {
        position: relative;
        border-radius: 1.5rem;
        @include button-shadow;
        &:hover {
           transform: scale(1.03);
           cursor: pointer;
        }
        &--new::before {
            position: absolute;
            right: 1.5rem;
            top: 1.5rem;
            padding: 1rem 1.5rem;
            border-radius: .3rem;
            content: "Nouveau";
            font-weight: 500;
            font-size: 1.8rem;
            background-color: $color-thirdly;
            color: darken($color: $color-thirdly, $amount: 50);
        }        
        &__img {
            object-fit: cover;
            height: 210px;
            width: 100%;
            border-radius: 1.5rem 1.5rem 0 0;
        }
        &__footer {
            position: relative;
            padding: 1.5rem 1.5rem;
            border-radius: 0rem 0rem 1.5rem 1.5rem;
        }
        &__title {
            font-size: 2rem;
        }
        &__txt {
            font-weight: 300;
            font-size: 1.8rem;
            padding-top: .5rem;
        }
        &__ico {
            position: absolute;
            right: 3rem;
            top: 50%;
            transform: translateY(-50%);
            font-size: 2.5rem;
        }
    }

}