//! FOOTER
.footer {
    background-color: #353535;
    padding: 2.5rem 3rem;
    color: white;
    font-weight: 500;
        
    h2 {
        font-family: 'Shrikhand', cursive;
        font-weight: 500;
        font-size: 2rem;
        padding: 0 1rem;
        &:hover {
            color: lighten($color: $color-primary, $amount: 10);
        }
    }
    ul {
        padding: 1rem 0 0 0;
        li {
            padding: .5rem 0;
            &:hover {
                color: lighten($color: $color-primary, $amount: 10);
            }
            i {
                width: 2rem;
                font-size: 1.7 rem;
            }  
        }
    }
}