//! FOOTER
.footer {
    background-color: $color-gray3;
    padding: 2.5rem 3rem;
    color: white;
    font-weight: 500;

    // H2
    &__title {
        @include police-shrikhand;
        font-weight: 500;
        font-size: 2rem;

        &:hover {
            @include light-purple;
        }
    }

    // UL
    &__list {
        padding-top: 1rem;
    }
    
    // LI
    &__element {
        padding: .5rem 0;

        &:hover {
            @include light-purple;
        }

        &--ico {
            width: 2rem;
        }  
    }
}