//! PAGE RESTAURANT
.card {
    background-color: $color-gray2;
    margin-top: -6rem;
    padding: 2rem;
    border-radius: 4rem 4rem 0 0;
    &-img {
        display: block;
        width: 100%;
        max-height: 50rem;
        object-fit: cover;
    }
    &-restaurant {
        font-family: 'Shrikhand', cursive;
        padding: 2rem 0 4.5rem 1rem;
        position: relative;
        &__heart {
            &::before {
                @include heart-menu;
            }
            &::after {
                @include heart-menu;
                @include heart-gradient;
                opacity: 0;
                font-weight: 900;
            }
            &:hover::after {
                opacity: 1;
                transition-duration: .35s;
                cursor: pointer;
            }
        }
    }
    &-list {
        display: grid;
        @include media-breakpoint-up (lg) {
            grid-template-columns: repeat(3, 1fr);
            grid-gap: 1rem;
        }
    }
    &-plat {
        overflow: hidden;
        padding: 0 1rem;
        &__title {
            text-transform: uppercase;
            font-weight: 400;
            font-size: 1.8rem;
            padding-left: 1rem;
            position: relative;
            &::after {
                position: absolute;
                content: "";
                background-color: #99e2d0;
                width: 4.5rem;
                height: .4rem;
                left: 1rem;
                bottom: -0.8rem;
            }
        }
        &__menus {
            padding: 3rem 0;
            max-width: 100%;
        }
    }
    &-menu {
        position: relative;
        padding: 1.1rem 6rem 1.1rem 1.5rem;
        line-height: 2.5rem;
        margin-bottom: 1.5rem;
        border-radius: 1.5rem;
        background-color: white;
        position: relative;
        @include menu-shadow;
        overflow: hidden;
        animation: menu 3s;
        animation-timing-function: cubic-bezier(.5,2,.5,1);
        animation-fill-mode: both;
        .delay1 {
            animation-delay: 10s;
        }
        &__title {
        font-weight: 500;
        font-size: 1.8rem;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        }
        &__describe {
            font-weight: 300;
            font-size: 1.6rem;
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
        }
        &__price {
            position: absolute;
            right: 2rem;
            bottom: 1.5rem;
            font-weight: 500;
            font-size: 1.5rem;
        }
        &__check {
            background-color: $color-thirdly;
        }
    }
    &-buton {
        display: flex;
        justify-content: center;
        padding: .6rem 0 3rem 0;    
        &__value {
            font-size: 2rem;
            font-weight: 500;
            color: white;
            padding: 1.5rem 3.5rem;
            border-radius: 3rem;
            border: none;
            background-image: linear-gradient(to left top,$color-primary,$color-secondary);
            @include button-shadow;
                &:hover {
                @include button-effect;
                cursor: pointer;
                background-image: linear-gradient(to right bottom, $color-primary,$color-secondary);
            }
        }
    }
    .heart {
        display: none;
    }
    .heart:checked + label::after {
        opacity: 1;
    }
}
