//! PAGE RESTAURANT
.card {

    // IMG
    &-img {
        display: block;
        width: 100%;
        max-height: 50rem;
        object-fit: cover;
    }

    // SECTION
    background-color: $color-gray2;
    margin-top: -6rem;
    padding: 2rem;
    border-radius: 4rem 4rem 0 0;

    // H2
    &-restaurant {
        @include police-shrikhand;
        padding: 2rem 1rem 4.5rem 1rem;
        position: relative;
        font-size: 2rem;
        @include media-breakpoint-up (xs) {
            font-size: 2.5rem;
        }
    }
}

// GRID
.card-list {
    display: grid;
    @include media-breakpoint-up (lg) {
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 1rem;
    }
}

// ARTICLE
.card-plat {
    overflow: hidden;
    padding: 0 1rem;

    // H3
    &__title {
        text-transform: uppercase;
        font-weight: 400;
        font-size: 1.8rem;
        padding-left: 1rem;
        position: relative;

        // LINE GREEN
        &::after {
            position: absolute;
            content: "";
            background-color: #99e2d0;
            width: 4.5rem;
            height: .4rem;
            left: 1rem;
            bottom: -0.8rem;
        }
    }

    // UL
    &__menus {
        padding: 3rem 0;
        max-width: 100%;
    }     
}

// LI
.card-menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    line-height: 2.5rem;
    margin-bottom: 1.5rem;
    border-radius: 1.5rem;
    background-color: white;
    position: relative;
    @include menu-shad;
    overflow: hidden;

    //! ANIMATION MENU
    // &--anim {
    //     animation: menu 1.5s;
    //     animation-fill-mode: both;
    //     @for $i from 1 through 4 {
    //         &:nth-child(#{$i}) {
    //             animation-delay: 300ms * $i;
    //         }
    //     }
    // }

    &--anim1 {
        animation: menu 1.5s;
        animation-fill-mode: both;
        animation-delay: 300ms;
    }
    &--anim2 {
        animation: menu 1.5s;
        animation-fill-mode: both;
        animation-delay: 600ms;
    }
    &--anim3 {
        animation: menu 1.5s;
        animation-fill-mode: both;
        animation-delay: 900ms;
    }
    &--anim4 {
        animation: menu 1.5s;
        animation-fill-mode: both;
        animation-delay: 1200ms;
    }
    &--anim5 {
        animation: menu 1.5s;
        animation-fill-mode: both;
        animation-delay: 1500ms;
    }
    &--anim6 {
        animation: menu 1.5s;
        animation-fill-mode: both;
        animation-delay: 1800ms;
    }
    &--anim7 {
        animation: menu 1.5s;
        animation-fill-mode: both;
        animation-delay: 2100ms;
    }
    &--anim8 {
        animation: menu 1.5s;
        animation-fill-mode: both;
        animation-delay: 2400ms;
    }
    &--anim9 {
        animation: menu 1.5s;
        animation-fill-mode: both;
        animation-delay: 2700ms;
    }
    &--anim10 {
        animation: menu 1.5s;
        animation-fill-mode: both;
        animation-delay: 3000ms;
    }

    //! BUTTON CHECK
    &:hover .card-menu__check{
        margin-right: 0;
    }
    &:hover .fa-circle-check {
        transform: rotate(0deg);
        transition: .6s;  
    }
    .fa-circle-check {
        transform: rotate(360deg);
    }

    //! HEADER
    &-left {
        padding: 1rem 0 1rem 1.5rem; 
        overflow: hidden;    
    }

        // H4
        &__title {
            font-weight: 500;
            font-size: 1.8rem;
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
        }

        // P
        &__describe {
            font-weight: 300;
            font-size: 1.6rem;
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
        }

    //! FOOTER
    &-right {
        display: flex;  
    }

        // P
        &__price {
            display: flex;
            align-items: flex-end;
            font-weight: 500;
            font-size: 1.5rem;
            padding: 1rem 2rem 1rem 1rem;
        }

        // ICO
        &__check {
            @include flex;
            background-color: $color-thirdly;
            font-size: 2.5rem;
            color: white;
            width: 7rem;
            height: 7rem;
            margin-right: -7rem;
            @include transition;
        }
}

//! BUTTON
.card-button {
    display: flex;
    justify-content: center;
    padding: .6rem 0 3rem 0; 

    &__value {
        font-size: 2rem;
        padding: 1.5rem 5rem;
        @include btn-grad;
        
        &:hover {
            @include btn-grad-hov;
        }
    }
}

//! HEART LABEL
.card-restaurant__heart {

    // HEART EMPTY
    &::before {
        @include heart-menu;
    }

    // HEART FULL
    &::after {
        @include heart-menu;
        @include heart-gradient;
        opacity: 0;
        font-weight: 900;
    }

    // HOVER HEART EMPTY
    &:hover::before {
        opacity: 0;
    } 

    // HOVER HEART FULL
    &:hover::after {
        opacity: 1;
        transition-duration: .35s;
        cursor: pointer;
    }
}

//! HEART INPUT
.heart {
    display: none;
}

.heart:checked + label::before {
    opacity: 0;
}

.heart:checked + label::after {
    opacity: 1;
}