//! PAGE RESTAURANT
.card {
    background-color: $color-gray2;
    margin-top: -6rem;
    padding: 2rem;
    border-radius: 4rem 4rem 0 0;
    &-img {
        display: block;
        width: 100%;
        max-height: 50rem;
        object-fit: cover;
    }
    &-restaurant {
        font-family: 'Shrikhand', cursive;
        padding: 2rem 0 4.5rem 1rem;
        position: relative;
        &__heart {
            &::before {
                @include heart-menu;
            }
            &::after {
                @include heart-menu;
                @include heart-gradient;
                opacity: 0;
                font-weight: 900;
            }
            &:hover::after {
                opacity: 1;
                transition-duration: .35s;
                cursor: pointer;
            }
        }
    }
    &-list {
        display: grid;
        @include media-breakpoint-up (lg) {
            grid-template-columns: repeat(3, 1fr);
            grid-gap: 1rem;
        }
    }
    &-plat {
        overflow: hidden;
        padding: 0 1rem;
        &__title {
            text-transform: uppercase;
            font-weight: 400;
            font-size: 1.8rem;
            padding-left: 1rem;
            position: relative;
            &::after {
                position: absolute;
                content: "";
                background-color: #99e2d0;
                width: 4.5rem;
                height: .4rem;
                left: 1rem;
                bottom: -0.8rem;
            }
        }
        &__menus {
            padding: 3rem 0;
            max-width: 100%;
        }     
    }
    &-menu {
        display: flex;
        align-items: center;
        justify-content: space-between;
        line-height: 2.5rem;
        margin-bottom: 1.5rem;
        border-radius: 1.5rem;
        background-color: white;
        position: relative;
        @include menu-shadow;
        overflow: hidden;
        &--anim-menu {
            animation: menu 1.5s;
            animation-fill-mode: both;
            @for $i from 1 through 3 {
                &:nth-child(#{$i}) {
                    animation-delay: 300ms * $i;
                }
            }
        }
        &:hover .card-menu__check{
            margin-right: 0;
        }
        &:hover .fa-circle-check {
            transform: rotate(0deg);
            transition: .5s;

        }
        &-left {
            padding: 1rem 0 1rem 1.5rem; 
            overflow: hidden;

        }
        &__title {
            font-weight: 500;
            font-size: 1.8rem;
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
        }
        &__describe {
            font-weight: 300;
            font-size: 1.6rem;
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
        }
        &-right {
            display: flex;  
        }
        &__price {
            display: flex;
            align-items: flex-end;
            font-weight: 500;
            font-size: 1.5rem;
            padding: 1rem;
        }
        &__check {
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: $color-thirdly;
            font-size: 2.5rem;
            color: white;
            width: 7rem;
            height: 7rem;
            margin-right: -7rem;
            transform: rotate (360deg);
            transition-duration: .5s;
        }
    }
    &-button {
        display: flex;
        justify-content: center;
        padding: .6rem 0 3rem 0;    
        &__value {
            font-size: 2rem;
            font-weight: 500;
            color: white;
            padding: 1.5rem 3.5rem;
            border-radius: 3rem;
            border: none;
            background-image: linear-gradient(to left top,$color-primary,$color-secondary);
            @include button-shadow;
            &:hover {
                @include button-effect;
                cursor: pointer;
                background-image: linear-gradient(to right bottom, $color-primary,$color-secondary);
            }
        }
    }
    .heart {
        display: none;
    }
    .heart:checked + label::after {
        opacity: 1;
    }
    .check {
        display: none;
    }
}
.fa-circle-check {
    transform: rotate(360deg);
}
